<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Book</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit Book</h1>
  <form th:action="@{/category/edit/{id}(id=${category.id})}" th:object="${category}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="name">Category</label>
      <input class="form-control" type="text" th:field="*{name}" id="name">
    </div>

    <input type="submit" class="btn btn-success" value="Save">
  </form>
  <br>
  <a th:href="@{/category}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>